<a name = 'head'></a>

<hr class="dashed" style = 'color: #04B2D9'>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #04D94F; padding: 5px 5px 3px 5px; line-height: 1.5; color:white; border-radius: 3px; font-size: 14px; font-weight: 475; text-align: center;'  colspan="3"> |  <a href="#head">Top</a>  |  <a href="#link">Link</a>  |  <a href="#link">Link</a>   |  <a href="#link">Link</a>  |  <a href="#link">Link</a> |  <a href="#link">Link</a>  |  <a href="#link">Link</a>  |  <a href="#link">Link</a>  |  </font></th>
		</tr>
	</table>
</html>

<hr class="dashed" style = 'color: #04B2D9'>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #F2059F; padding: 8; line-height: 1.5; color:white; border-radius: 3px;; text-align: center; border-top: 2px solid white; border-bottom: 3px solid #04B2D9; border-top: 3px solid #04B2D9;font-size: 33px;' colspan="3">Finance APIs: OANDA</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 14px; font-weight: 500; background-color: #F2CB05; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px; text-align: left;border-bottom: 3px solid #04B2D9; border-top: 3px solid white;' colspan="3">- trading platform that trades CFDs, contracts for differences<br>- risky financial derivatives<br>- over 70% of retail investors lose money when trading with OANDA
		</tr>
		<tr>
			<th style = 'font-size: 17px; font-weight: 525; background-color: #F28705; padding: 8px; line-height: 1.5; color:white; border-radius: 3px; text-align: center; border-bottom: 3px solid #04B2D9' colspan="3">|  <a href = 'https://trade.oanda.com/'>OANDA Site</a>  |  <a href = 'https://www.oanda.com/demo-account/tpa/personal_token'>OANDA API</a>  |</font></th>
		</tr>
	</table>
</html>

<html>
	<table>
	<tr style = 'background-color: #04D94F; border-top: 2px solid #F2CB05; border-bottom: 2px solid #F2CB05; color: white;' colspan = 3> 
			<td style = 'font-size: 13px; text-align: center;' colspan = 5><b>Evan Marie online</b>:  |  <a href = 'https://www.evanmarie.com/'>EvanMarie.com</a>|  <a href = 'mailto:evanmarie@proton.me'>EvanMarie@Proton.me</a>  |  <a href = 'https://www.linkedin.com/in/evanmarie/'>Linked In</a>  |  <a href = 'https://github.com/EvanMarie'>GitHub</a>   |  <a href = 'https://huggingface.co/EvanMarie'>Hugging Face</a>  |  <a href = 'https://sigmoid.social/@EvanMarie'>Mastadon</a>  |  <a href = 'https://jovian.ai/evanmarie'>Jovian.ai</a>  |  <a href = 'https://www.tiktok.com/@evanmarie_123'>TikTok</a>  |  <a href = 'https://www.codewars.com/users/EvanMarie'>CodeWars</a>  |  <b>Discord ⇨ ✨ EvanMarie ✨#6114</b>  |
			</td></tr>
	</table>
</html>

In [1]:
from helpers_bright import *
import_all()
import tpqoa
plt.style.use('bright.mplstyle')

In [2]:
%%html
<style>
a:link {color: purple !important; font-weight: 600 !important;}
a:visited {color: purple !important; font-weight: 600 !important;}
</style>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #F2059F; padding: 5px 5px 3px 5px; line-height: 1.5; color:white;border-radius: 3px; text-align: center; border-bottom: 3px solid #F2CB05; border-top: 3px solid #F2CB05;' colspan="3"><font size = 6>Historical Data</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 14px; font-weight: 500; background-color: #04B2D9; padding: 8px; line-height: 1.5; color:white; border-radius: 3px; text-align: left; border-bottom: 3px solid #F2CB05; border-top: 3px solid #F2CB05' colspan="3">- OANDA has data on indexes and currencies, not individual stocks<br>- it also has (or had, since I cannot seem to find them now) data on commodities<br>- they also have, or used to have, data on treasury notes<br>- get_instruments() seems to only show currencies now</font></th>
		</tr>
	</table>
</html>

In [3]:
api = tpqoa.tpqoa("./OANDA/oanda.cfg")

In [4]:
instruments = pd.DataFrame([x[0] for x in api.get_instruments()])

In [5]:
header_text('OANDA Symbols')
multi([(instruments.iloc[0:17], '1'), 
	   (instruments.iloc[17:34], '2'), 
	   (instruments.iloc[34:51], '3'), 
	   (instruments.iloc[51:-1], '4')])

,0
0,AUD/CAD
1,AUD/CHF
2,AUD/HKD
3,AUD/JPY
4,AUD/NZD
5,AUD/SGD
6,AUD/USD
7,CAD/CHF
8,CAD/HKD
9,CAD/JPY
10,CAD/SGD
11,CHF/HKD
12,CHF/JPY
13,CHF/ZAR
14,EUR/AUD
15,EUR/CAD
16,EUR/CHF
,0
17,EUR/CZK
18,EUR/DKK
19,EUR/GBP
20,EUR/HKD
21,EUR/HUF
22,EUR/JPY
23,EUR/NOK
24,EUR/NZD
25,EUR/PLN
26,EUR/SEK
27,EUR/SGD
28,EUR/TRY
29,EUR/USD
30,EUR/ZAR
31,GBP/AUD
32,GBP/CAD
33,GBP/CHF
,0
34,GBP/HKD
35,GBP/JPY
36,GBP/NZD
37,GBP/PLN
38,GBP/SGD
39,GBP/USD
40,GBP/ZAR
41,HKD/JPY
42,NZD/CAD
43,NZD/CHF
44,NZD/HKD
45,NZD/JPY
46,NZD/SGD
47,NZD/USD
48,SGD/CHF
49,SGD/JPY
50,TRY/JPY
,0
51,USD/CAD
52,USD/CHF
53,USD/CNH
54,USD/CZK
55,USD/DKK
56,USD/HKD
57,USD/HUF
58,USD/JPY
59,USD/MXN
60,USD/NOK
61,USD/PLN
62,USD/SEK
63,USD/SGD
64,USD/THB
65,USD/TRY
66,USD/ZAR

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 14px; font-weight: 500; background-color: #04D94F; padding: 8px; line-height: 1.5; color:black; border-radius: 3px; text-align: left;border-bottom: 3px solid white; border-top: 3px solid white;' colspan="3">Tickers come as tuples with a description and the actual symbol</th>
		</tr>
	</table>
</html>

In [6]:
api.get_instruments()[0:5]

[('AUD/CAD', 'AUD_CAD'),
 ('AUD/CHF', 'AUD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('AUD/NZD', 'AUD_NZD')]

<html>
	<table style="width:100%;">
		<th style = 'font-size: 14px; font-weight: 500; background-color: #F2CB05; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px; text-align: left;border-bottom: 3px solid white; border-top: 3px solid white;' colspan="3"><b>Dow Jones Index</b> with start and end dates<br>- however, I was unable to get this to come up with <b><i>get_instruments()</b></i><br>- <b>granularity</b> is their version of frequency<br>- <b>price = "B"</b> - requesting bid prices
		</tr></th>
	</table>
</html>

In [7]:
pretty('Dow Jones daily data, bid prices: open, high, low, close, & volume')
api.get_history(instrument = 'US30_USD', 
				start = '2023-01-01',
			    end = '2023-02-01',
			    granularity = 'D',
			   price = 'B').head(5)

                            o         h         l         c  volume  complete
time
2023-01-02 22:00:00 33,347.30 33,481.00 32,832.80 33,105.00   93868      True
2023-01-03 22:00:00 33,077.80 33,420.30 33,027.80 33,239.00   71046      True
2023-01-04 22:00:00 33,236.30 33,313.00 32,795.80 32,944.30   67759      True
2023-01-05 22:00:00 32,943.30 33,718.30 32,894.10 33,619.30   61290      True
2023-01-08 22:00:00 33,664.00 33,930.50 33,483.00 33,515.00   51079      True

In [8]:
pretty('Euro to US Dollar: daily data, bid prices')
api.get_history('EUR_USD', 
				'2023-01-01',
			    '2023-02-01', 
				'D', 'B').head(5).style.format(precision = 4)

In [9]:
pretty('Euro to US Dollar: daily data, ask prices')
d(api.get_history('EUR_USD', 
				'2023-01-01',
			    '2023-02-01', 
				'D', 'A').head(5).style.format(precision = 4))

pretty('Euro to US Dollar: daily data, bid prices')
api.get_history('EUR_USD', 
				'2023-01-01',
			    '2023-02-01', 
				'D', 'B').head(5).style.format(precision = 4)

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 14px; font-weight: 500; background-color: #F28705; padding: 8px; line-height: 1.5; color:white; border-radius: 3px; text-align: left;border-bottom: 3px solid white; border-top: 3px solid white;' colspan="3"><b>Bid vs. Ask price (above):</b><br>- the difference in the bid versus ask price above is the profit that OANDA makes<br>- the trader will always pay the higher price</th>
		</tr>
	</table>
</html>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #F2059F; padding: 5px 5px 3px 5px; line-height: 1.5; color:white;border-radius: 3px; text-align: center; border-bottom: 3px solid #F2CB05; border-top: 3px solid #F2CB05;' colspan="3"><font size = 6>High Frequency, Intraday Data</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 14px; font-weight: 500; background-color: #04B2D9; padding: 8px; line-height: 1.5; color:white; border-radius: 3px; text-align: left; border-bottom: 3px solid #F2CB05; border-top: 3px solid #F2CB05' colspan="3">- OANDA is superior to other sources in that it provides data in as little as 5-second increments<br>- it is possible to get tens of thousands of records of data</font></th>
		</tr>
	</table>
</html>

In [10]:
pretty('Euro to US Dollar: data by the minute, bid prices')
api.get_history('EUR_USD', 
				'2023-01-01',
			    '2023-02-01', 
				'M1', 'B').head(5).style.format(precision = 4)

In [11]:
pretty('Euro to US Dollar: data in 5 minute increments, bid prices')
api.get_history('EUR_USD', 
				'2023-01-01',
			    '2023-02-01', 
				'M5', 'B').head(5).style.format(precision = 4)

In [12]:
pretty('Euro to US Dollar: data in 5 sec increments, bid prices')
api.get_history('EUR_USD', 
				'2023-01-01',
			    '2023-02-01', 
				'S5', 'B').head(5).style.format(precision = 4)

In [13]:
pretty('Euro to US Dollar: data in 30 sec increments, bid prices')
api.get_history('EUR_USD', 
				'2023-01-01',
			    '2023-02-01', 
				'S30', 'B').head(5).style.format(precision = 4)

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #F2059F; padding: 5px 5px 3px 5px; line-height: 1.5; color:white;border-radius: 3px; text-align: center; border-bottom: 3px solid #F2CB05; border-top: 3px solid #F2CB05;' colspan="3"><font size = 6>High Frequency Live Stream</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 14px; font-weight: 500; background-color: #04B2D9; padding: 8px; line-height: 1.5; color:white; border-radius: 3px; text-align: left; border-bottom: 3px solid #F2CB05; border-top: 3px solid #F2CB05' colspan="3">- possible with all available instruments<br>- only possible when markets are open<br>- stop indicates after how many ticks to stop (on a second basis)<br>- when passed None, it will continuously stream<br>- provides bid and ask prices</font></th>
		</tr>
	</table>
</html>

In [15]:
api.stream_data('EUR_USD', stop = 5)

In [ ]:
api.stream_data('EUR_USD', stop = None)

In [ ]:
api.stop_stream()